/*
Challenge:
Add colors to the site based on the provided design.

pink: #EFB0C9
blue: #a2d2ff
white: #ffffff
*/

body {
    background: #a2d2ff;
    color: white;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}

#profile-img {
    width: 150px;
    border: 6px solid #EFB0C9;
    border-radius: 50%;
}

/* to visualize elements */
/* body * {
    border: 1px solid red;
} */
