body {
  background: #a2d2ff;
  text-align: center;
  font-family: "Happy Monkey", cursive;
  color: white;
}

/* to visualize elements */
/* body * {
    border: 1px solid red;
} */

h1,
h2,
h3,
h4,
p {
  text-shadow: 0px 0px 1px black;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-img {
  width: 150px;
  border: 6px solid #efb0c9;
  border-radius: 50%;
  margin-bottom: 10px;
}

#bd-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 0px 10px;
}

#bd-date {
  margin: 0px;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

.gift-selection {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0px;
}

.gift-img {
  background-image: url("images/gift-cover.jpg"); /* alt="red gift box with a yellow ribbon"; */
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 0px auto;
  border: 6px solid white;
  border-radius: 10px;
}

#gift-img-happy:hover {
  background-image: url("images/happy.gif"); /* alt="red gift box with a yellow ribbon"; */
}

#gift-img-hot:hover {
  background-image: url("images/hot.gif"); /* alt="red gift box with a yellow ribbon"; */
}

#gift-img-genius:hover {
  background-image: url("images/genius.gif"); /* alt="red gift box with a yellow ribbon"; */
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif"); /* alt="red gift box with a yellow ribbon"; */
}

#gift-img-cheers {
  height: 200px;
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif"); /* alt="red gift box with a yellow ribbon"; */
}

#footer {
  width: 400px;
  margin: 40px auto 20px;
  font-style: italic;
}

#footer-link {
  color: inherit;
  width: 400px;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/