body {
  background: #a2d2ff;
  text-align: center;
  font-family: "Happy Monkey", cursive;
  color: white;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0px 0px 1px black;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-img {
  width: 150px;
  border: 6px solid #efb0c9;
  border-radius: 50%;
  margin-bottom: 10px;
}

#bd-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 0px 10px;
}

#bd-date {
  margin: 0px;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

.gift-selection {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0px;
}

.gift-img {
  background-image: url("images/gift-cover.jpg"); /* alt="red gift box with a yellow ribbon"; */
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 0px auto;
  border: 6px solid white;
  border-radius: 10px;
}

.gift-img:hover {
  background-image: url("images/happy.gif"); /* alt="red gift box with a yellow ribbon"; */
}